[submodule "TensorBase"]
	path = TensorBase
	url = https://github.com/recursionBlack/TensorBase.git
[submodule "CNN"]
	path = CNN
	url = https://github.com/recursionBlack/CNN.git
[submodule "cifar10"]
	path = cifar10
	url = https://github.com/recursionBlack/cifar10.git
[submodule "COCO"]
	path = COCO
	url = https://github.com/recursionBlack/coco.git
[submodule "cycleGAN"]
	path = cycleGAN
	url = https://github.com/recursionBlack/cycleGAN.git
